@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------ SCROLL STUFF ------------------------------ */

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #bababa #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 3px solid #ffffff;
}



/* ------------------------------- OTHER STUFF ------------------------------ */



.the-button .button-button:hover {
    transform: translateY(14px);
}